In [4]:
import pandas as pd

In [845]:
!kaggle datasets download -d blastchar/telco-customer-churn

Dataset URL: https://www.kaggle.com/datasets/blastchar/telco-customer-churn
License(s): copyright-authors
telco-customer-churn.zip: Skipping, found more recently modified local copy (use --force to force download)

In [109]:
raw_df = pd.read_csv('C:/Users/Salar/telco-customer-churn/WA_Fn-UseC_-Telco-Customer-Churn.csv')

In [111]:
raw_df.describe()

       SeniorCitizen       tenure  MonthlyCharges
count    7043.000000  7043.000000     7043.000000
mean        0.162147    32.371149       64.761692
std         0.368612    24.559481       30.090047
min         0.000000     0.000000       18.250000
25%         0.000000     9.000000       35.500000
50%         0.000000    29.000000       70.350000
75%         0.000000    55.000000       89.850000
max         1.000000    72.000000      118.750000

In [113]:
raw_df.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [115]:
raw_df['Churn'].value_counts()

Churn
No     5174
Yes    1869
Name: count, dtype: int64

In [117]:
df = raw_df.drop('customerID', axis=1)

In [119]:
df

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,No,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7039,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,No,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,Male,0,No,No,66,Yes,No,Fiber optic,Yes,No,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [121]:
df.dtypes

gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [123]:
df=df.drop_duplicates()
df

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,No,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7039,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,No,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,Male,0,No,No,66,Yes,No,Fiber optic,Yes,No,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [125]:
df.shape

(7021, 20)

In [127]:
import pandas as pd
import numpy as np

# Assuming df is your DataFrame and 'TotalCharges' is the column with the issue

# Step 1: Replace empty strings with NaN
df['TotalCharges'] = df['TotalCharges'].replace(' ', np.nan)

# Step 2: Drop rows where 'TotalCharges' is NaN
df = df.dropna(subset=['TotalCharges'])

# Step 3: Convert the column to float
df['TotalCharges'] = df['TotalCharges'].astype(float)

# Now the DataFrame should no longer have any rows with empty or invalid 'TotalCharges' values
print(df['TotalCharges'].head())

0      29.85
1    1889.50
2     108.15
3    1840.75
4     151.65
Name: TotalCharges, dtype: float64

C:\Users\Salar\AppData\Local\Temp\ipykernel_16896\2037210075.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['TotalCharges'] = df['TotalCharges'].replace(' ', np.nan)
C:\Users\Salar\AppData\Local\Temp\ipykernel_16896\2037210075.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['TotalCharges'] = df['TotalCharges'].astype(float)

In [129]:
X=df.drop('Churn',axis=1)
Y=df['Churn']

In [131]:
from sklearn.model_selection import train_test_split

In [133]:
x_train,x_test,y_train,y_test=train_test_split(X,Y,stratify=Y,random_state=21)

In [135]:
numerical_attributes = x_train.select_dtypes(include=["int64", "float64"]).columns
categorical_attributes = x_train.select_dtypes(include="object").columns

In [137]:
categorical_attributes

Index(['gender', 'Partner', 'Dependents', 'PhoneService', 'MultipleLines',
       'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
       'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract',
       'PaperlessBilling', 'PaymentMethod'],
      dtype='object')

In [139]:
numerical_attributes

Index(['SeniorCitizen', 'tenure', 'MonthlyCharges', 'TotalCharges'], dtype='object')

In [141]:
from sklearn.preprocessing import StandardScaler
Standard_Scaler = StandardScaler()
train_numerical_scaled=Standard_Scaler.fit_transform(x_train[numerical_attributes])
test_numerical_scaled=Standard_Scaler.transform(x_test[numerical_attributes])

In [143]:
train_numerical_scaled = pd.DataFrame(train_numerical_scaled, columns=numerical_attributes, index=x_train.index)
test_numerical_scaled=pd.DataFrame(test_numerical_scaled, columns=numerical_attributes, index=x_test.index)

In [145]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
# Encoding multiple columns. Unfortunately you cannot pass a list here so you need to copy-paste all printed categorical columns.
transformer = make_column_transformer(
    (OneHotEncoder(handle_unknown='ignore'), categorical_attributes))

In [147]:
# Transforming
transformed = transformer.fit_transform(x_train)
# Transformating back
transformed_df = pd.DataFrame(transformed, columns=transformer.get_feature_names_out())
# One-hot encoding removed an index. Let's put it back:
transformed_df.index = x_train.index
# Joining tables
x_train = pd.concat([x_train, transformed_df], axis=1)
# Dropping old categorical columns
x_train.drop(categorical_attributes, axis=1, inplace=True)
# CHecking result
x_train.head()

,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,onehotencoder__gender_Female,onehotencoder__gender_Male,onehotencoder__Partner_No,onehotencoder__Partner_Yes,onehotencoder__Dependents_No,onehotencoder__Dependents_Yes,...,onehotencoder__StreamingMovies_Yes,onehotencoder__Contract_Month-to-month,onehotencoder__Contract_One year,onehotencoder__Contract_Two year,onehotencoder__PaperlessBilling_No,onehotencoder__PaperlessBilling_Yes,onehotencoder__PaymentMethod_Bank transfer (automatic),onehotencoder__PaymentMethod_Credit card (automatic),onehotencoder__PaymentMethod_Electronic check,onehotencoder__PaymentMethod_Mailed check
2010,0,5,75.90,357.75,0.0,1.0,1.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
216,0,72,45.25,3139.80,0.0,1.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
1027,0,47,94.90,4615.25,1.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
1405,0,1,76.00,76.00,1.0,0.0,1.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
6811,0,1,50.35,50.35,0.0,1.0,0.0,1.0,1.0,0.0,...,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

In [149]:
# Transforming
transformed = transformer.transform(x_test)
# Transformating back
transformed_df = pd.DataFrame(transformed, columns=transformer.get_feature_names_out())
# One-hot encoding removed an index. Let's put it back:
transformed_df.index = x_test.index
# Joining tables
x_test = pd.concat([x_test, transformed_df], axis=1)
# Dropping old categorical columns
x_test.drop(categorical_attributes, axis=1, inplace=True)
# CHecking result
x_test.head()

,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,onehotencoder__gender_Female,onehotencoder__gender_Male,onehotencoder__Partner_No,onehotencoder__Partner_Yes,onehotencoder__Dependents_No,onehotencoder__Dependents_Yes,...,onehotencoder__StreamingMovies_Yes,onehotencoder__Contract_Month-to-month,onehotencoder__Contract_One year,onehotencoder__Contract_Two year,onehotencoder__PaperlessBilling_No,onehotencoder__PaperlessBilling_Yes,onehotencoder__PaymentMethod_Bank transfer (automatic),onehotencoder__PaymentMethod_Credit card (automatic),onehotencoder__PaymentMethod_Electronic check,onehotencoder__PaymentMethod_Mailed check
6730,0,15,19.65,332.65,0.0,1.0,0.0,1.0,0.0,1.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
1104,0,42,19.55,839.40,0.0,1.0,1.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
4436,0,19,60.60,1297.80,1.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
4235,1,56,95.65,5471.75,1.0,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
5386,0,10,45.80,436.20,0.0,1.0,1.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0

In [151]:
# Concatenate the numerical and categorical DataFrames
x_train = pd.concat([train_numerical_scaled,x_train], axis=1)
x_test = pd.concat([test_numerical_scaled,x_test], axis=1)

# Check the result
print(x_train.shape)
print(x_test.shape)
x_test.head()

(5257, 49)
(1753, 49)

,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,onehotencoder__gender_Female,onehotencoder__gender_Male,...,onehotencoder__StreamingMovies_Yes,onehotencoder__Contract_Month-to-month,onehotencoder__Contract_One year,onehotencoder__Contract_Two year,onehotencoder__PaperlessBilling_No,onehotencoder__PaperlessBilling_Yes,onehotencoder__PaymentMethod_Bank transfer (automatic),onehotencoder__PaymentMethod_Credit card (automatic),onehotencoder__PaymentMethod_Electronic check,onehotencoder__PaymentMethod_Mailed check
6730,-0.437942,-0.723137,-1.499948,-0.868594,0,15,19.65,332.65,0.0,1.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
1104,-0.437942,0.384798,-1.503274,-0.643931,0,42,19.55,839.40,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
4436,-0.437942,-0.558998,-0.137927,-0.440703,0,19,60.60,1297.80,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
4235,2.283407,0.959283,1.027856,1.409784,1,56,95.65,5471.75,1.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
5386,-0.437942,-0.928310,-0.630184,-0.822686,0,10,45.80,436.20,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0

In [153]:

# List of column indices you want to remove
columns_to_remove = [4,5,6,7]  # Example indices

# Drop the specified columns by index
x_train = x_train.iloc[:, [i for i in range(x_train.shape[1]) if i not in columns_to_remove]]

# Check the result
x_train.head()

,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,onehotencoder__gender_Female,onehotencoder__gender_Male,onehotencoder__Partner_No,onehotencoder__Partner_Yes,onehotencoder__Dependents_No,onehotencoder__Dependents_Yes,...,onehotencoder__StreamingMovies_Yes,onehotencoder__Contract_Month-to-month,onehotencoder__Contract_One year,onehotencoder__Contract_Two year,onehotencoder__PaperlessBilling_No,onehotencoder__PaperlessBilling_Yes,onehotencoder__PaymentMethod_Bank transfer (automatic),onehotencoder__PaymentMethod_Credit card (automatic),onehotencoder__PaymentMethod_Electronic check,onehotencoder__PaymentMethod_Mailed check
2010,-0.437942,-1.133483,0.370960,-0.857466,0.0,1.0,1.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
216,-0.437942,1.615837,-0.648477,0.375933,0.0,1.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
1027,-0.437942,0.589971,1.002911,1.030062,1.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
1405,-0.437942,-1.297622,0.374286,-0.982378,1.0,0.0,1.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
6811,-0.437942,-1.297622,-0.478848,-0.993750,0.0,1.0,0.0,1.0,1.0,0.0,...,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

In [155]:
# List of column indices you want to remove
columns_to_remove = [4,5,6,7]  # Example indices

# Drop the specified columns by index
x_test = x_test.iloc[:, [i for i in range(x_test.shape[1]) if i not in columns_to_remove]]

# Check the result
x_test.head()

,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,onehotencoder__gender_Female,onehotencoder__gender_Male,onehotencoder__Partner_No,onehotencoder__Partner_Yes,onehotencoder__Dependents_No,onehotencoder__Dependents_Yes,...,onehotencoder__StreamingMovies_Yes,onehotencoder__Contract_Month-to-month,onehotencoder__Contract_One year,onehotencoder__Contract_Two year,onehotencoder__PaperlessBilling_No,onehotencoder__PaperlessBilling_Yes,onehotencoder__PaymentMethod_Bank transfer (automatic),onehotencoder__PaymentMethod_Credit card (automatic),onehotencoder__PaymentMethod_Electronic check,onehotencoder__PaymentMethod_Mailed check
6730,-0.437942,-0.723137,-1.499948,-0.868594,0.0,1.0,0.0,1.0,0.0,1.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
1104,-0.437942,0.384798,-1.503274,-0.643931,0.0,1.0,1.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
4436,-0.437942,-0.558998,-0.137927,-0.440703,1.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
4235,2.283407,0.959283,1.027856,1.409784,1.0,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
5386,-0.437942,-0.928310,-0.630184,-0.822686,0.0,1.0,1.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0

In [157]:
from sklearn.preprocessing import LabelEncoder

# Assuming y_train and y_test are your target variables
label_encoder = LabelEncoder()

# Fit the encoder and transform the labels
y_train = label_encoder.fit_transform(y_train)
y_test = label_encoder.transform(y_test)

In [159]:
from imblearn.over_sampling import SMOTE

In [161]:
sm = SMOTE() 
x_train, y_train = sm.fit_resample(x_train, y_train)

In [163]:
from sklearn.model_selection import StratifiedKFold
from sklearn.ensemble import RandomForestClassifier

#We are going to ensure that we have the same splits of the data every time. 
#We can ensure this by creating a KFold object, kf, and passing cv=kf instead of the more common cv=5.

kf = StratifiedKFold(n_splits=5, shuffle=False)

In [165]:
import sklearn
from sklearn.model_selection import cross_val_score
from sklearn.svm import SVC
model = sklearn.svm.SVC()
sv=model.fit(x_train, y_train);
score=cross_val_score(sv, x_train, y_train, cv=kf, scoring='recall')
print("Cross Validation Recall scores are: {}".format(score))
print("Average Cross Validation Recall score: {}".format(score.mean()))

Cross Validation Recall scores are: [0.75032342 0.79301423 0.84993532 0.89391979 0.87305699]
Average Cross Validation Recall score: 0.8320499500633425

In [167]:
y_pred = model.predict(x_test)

In [171]:

# Now compute the confusion matrix and other metrics
cm = confusion_matrix(y_test, y_pred)
rf_Recall = recall_score(y_test, y_pred)
rf_Precision = precision_score(y_test, y_pred)
rf_F1 = f1_score(y_test, y_pred)
rf_Accuracy = accuracy_score(y_test, y_pred)

print("Confusion Matrix:\n", cm)
print("Recall:", rf_Recall)
print("Precision:", rf_Precision)
print("F1 Score:", rf_F1)
print("Accuracy:", rf_Accuracy)

Confusion Matrix:
 [[990 299]
 [108 356]]
Recall: 0.7672413793103449
Precision: 0.5435114503816794
F1 Score: 0.6362823949955317
Accuracy: 0.7678265830005705