In [3]:
import pandas as pd

In [845]:
!kaggle datasets download -d blastchar/telco-customer-churn

Dataset URL: https://www.kaggle.com/datasets/blastchar/telco-customer-churn
License(s): copyright-authors
telco-customer-churn.zip: Skipping, found more recently modified local copy (use --force to force download)

In [105]:
raw_df = pd.read_csv('C:/Users/Salar/telco-customer-churn/WA_Fn-UseC_-Telco-Customer-Churn.csv')

In [107]:
raw_df['Churn'].value_counts()

Churn
No     5174
Yes    1869
Name: count, dtype: int64

In [109]:
df = raw_df.drop('customerID', axis=1)

In [111]:
df

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,No,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7039,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,No,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,Male,0,No,No,66,Yes,No,Fiber optic,Yes,No,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [113]:
df.dtypes

gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [115]:
df=df.drop_duplicates()

In [117]:
df.shape

(7021, 20)

In [121]:
import pandas as pd
import numpy as np

# Assuming df is your DataFrame and 'TotalCharges' is the column with the issue

# Step 1: Replace empty strings with NaN
df['TotalCharges'] = df['TotalCharges'].replace(' ', np.nan)

# Step 2: Drop rows where 'TotalCharges' is NaN
df = df.dropna(subset=['TotalCharges'])

# Step 3: Convert the column to float
df['TotalCharges'] = df['TotalCharges'].astype(float)

# Now the DataFrame should no longer have any rows with empty or invalid 'TotalCharges' values
df.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [123]:
X=df.drop('Churn',axis=1)
Y=df['Churn']

In [129]:
categorical_columns=X.columns[X.dtypes==object]
X=pd.get_dummies(X, columns=categorical_columns, drop_first=True)

In [133]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,Y,stratify=Y,random_state=21)

In [145]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

In [173]:
from sklearn.decomposition import PCA
pca=PCA(n_components=0.7)
x_train=pca.fit_transform(x_train)
x_test=pca.transform(x_test)

In [157]:
from sklearn.preprocessing import LabelEncoder

# Assuming y_train and y_test are your target variables
label_encoder = LabelEncoder()

# Fit the encoder and transform the labels
y_train = label_encoder.fit_transform(y_train)
y_test = label_encoder.transform(y_test)

In [159]:
from imblearn.over_sampling import SMOTE

In [175]:
sm = SMOTE() 
x_train, y_train = sm.fit_resample(x_train, y_train)

In [177]:
from sklearn.model_selection import StratifiedKFold
from sklearn.ensemble import RandomForestClassifier

#We are going to ensure that we have the same splits of the data every time. 
#We can ensure this by creating a KFold object, kf, and passing cv=kf instead of the more common cv=5.

kf = StratifiedKFold(n_splits=5, shuffle=False)

In [179]:
import sklearn
from sklearn.model_selection import cross_val_score
from sklearn.svm import SVC
model = sklearn.svm.SVC()
sv=model.fit(x_train, y_train);
score=cross_val_score(sv, x_train, y_train, cv=kf, scoring='recall')
print("Cross Validation Recall scores are: {}".format(score))
print("Average Cross Validation Recall score: {}".format(score.mean()))

Cross Validation Recall scores are: [0.78783959 0.79430789 0.81759379 0.8538163  0.83031088]
Average Cross Validation Recall score: 0.8167736897492442

In [181]:
y_pred = model.predict(x_test)

In [183]:
from sklearn.metrics import confusion_matrix, recall_score, precision_score, f1_score, accuracy_score

# Assuming y_test and y_pred are already defined
cm = confusion_matrix(y_test, y_pred)
rf_Recall = recall_score(y_test, y_pred)
rf_Precision = precision_score(y_test, y_pred)
rf_F1 = f1_score(y_test, y_pred)
rf_Accuracy = accuracy_score(y_test, y_pred)

print("Confusion Matrix:\n", cm)
print("Recall:", rf_Recall)
print("Precision:", rf_Precision)
print("F1 Score:", rf_F1)
print("Accuracy:", rf_Accuracy)

Confusion Matrix:
 [[925 364]
 [ 88 376]]
Recall: 0.8103448275862069
Precision: 0.5081081081081081
F1 Score: 0.6245847176079734
Accuracy: 0.742156303479749

In [185]:
pca.explained_variance_

array([8.23027377, 3.5393459 , 2.74631929, 1.45885874, 1.14937031,
       1.07868623, 0.97023539, 0.96076598])